/*#login {
	display:flex;
	justify-content:center;
	align-items:center;
}
.row {
	display:block;
}
label {
	width: 30%;
	display: inline-block;
	vertical-align: top;
}
*/
table {
	border: thin solid black;
}

table td {
	padding: 10px;
}